@import url("site.css");

select {
    width: 200px;
    height: 30px;   
}

th {
    padding: 10px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    border-radius: 5px;
}

td {
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    border-radius: 5px;
}

tr {
    background-color: rgba(45, 185, 143, 0.952);
}

table {
    background-color: rgb(110, 206, 201);
    padding: 5px;

}


/** Hakulaatikko **/
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
	font-family: "Roboto";
}
div.container {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	margin-top: 30px;
	border: 1px solid whitesmoke;
	padding: 21px;
	border-radius: 4px;
}
h4.title {
	text-align: center;
	margin-bottom: 10px;
}
:root {
	--omrs-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
	--omrs-color-bg-high-contrast: #ffffff;
}

/* Hakulaatikko: Input*/
.omrs-input-underlined > input {
	border: none;
	border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
	width: 100%;
	height: 2rem;
	font-size: 1rem;
	padding-left: 0.5rem;
	line-height: 150%;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
}

/* Hakulaatikko: placeholder */
.omrs-input-underlined > .omrs-input-label {
	position: absolute;
	top: 1rem;
	left: 1rem;
	line-height: 150%;
	color: var(--omrs-color-ink-medium-contrast);
	transition: top .2s;
}
div.omrs-input-group {
    margin-bottom: 1.5rem;
    position: relative;
    width: 20rem;
}

/* Hakulaatikko: placeholderin sijainti */
.omrs-input-underlined > input:focus + .omrs-input-label,
.omrs-input-underlined > input:valid + .omrs-input-label {
	top: 0;
	font-size: 1rem;
	margin-bottom: 32px;;
}

/* Haku-napille tyylit ja animaatio*/
.searchButton {
    display: inline-block;
    border-radius: 4px;
    font-size: 20px;
    padding: 8px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    }

    .searchButton span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .searchButton span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .searchButton:hover span {
        padding-right: 25px;
    }

        .searchButton:hover span:after {
            opacity: 1;
            right: 0;
        }

/* Tarkennut haku */
.specifiedSearchBtn {
    cursor: pointer;
    text-align: right;
    float: right;
    margin-top: 10%;
}

button.specifiedSearchBtn:hover {
    border-color: black;
}

.specifiedSearch {
    text-align: left;
    display: none;
}
